:root {
    /* text size for moviles*/
    --mv-smallest: 12px;
    --mv-details: 14px;
    --mv-body-text: 17px;
    --mv-subtitle: 19px;
    --mv-title: 24px;
    --mv-header: 32px;

    /* text size for desktops*/
    --dp-smallest: 16px;
    --dp-details: 18px;
    --dp-body-text: 20px;
    --dp-subtitle: 22px;
    --dp-title: 34px;
    --dp-header: 42px;
}

*, *::before, *::after {
    box-sizing: border-box;
} 

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Display movil */
body {
    display: grid;
    grid-template-rows: 10% 90%;
}

.side {
    background-color: #C06010;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.side > .side__group {
    gap: 10px;
}

.main {
    display: grid;
}

.main > .main__a {
    background-color: #424642;
}

.main > .main__b {
    background-color: #536162;
}

.side > .side__hamburger {

}

/* Cellphone older and Tablets younger */
@media only screen and (min-width: 481px ) {

    /* body {
        grid-template-columns: 20% 80%;
    } */

    .main {
        grid-template-columns: 20% 80%;
    }
}

/* Tablets older, Laptops and Desktops */
@media only screen and (min-width: 770px){
    body {
        grid-template-rows: initial;
        grid-template-columns: 7% 93%;
    }

    .side {
        flex-direction: row;
        align-content: space-between;
        /* justify-content: center; */
        /* flex-direction: row;
        grid-template-rows: 1fr 80% 1fr; */
    }
    
    .side > .side__group {
        flex-direction: column;
    }
    
    .main {
        grid-template-columns: 20% 80%;
    }

    .main > .main__a {
    }
    
    .main > .main__b {
    }
}
