:root {
    /* text size for moviles*/
    --mv-smallest: 12px;
    --mv-details: 14px;
    --mv-body-text: 17px;
    --mv-subtitle: 19px;
    --mv-title: 24px;
    --mv-header: 32px;

    /* text size for desktops*/
    --dp-smallest: 16px;
    --dp-details: 18px;
    --dp-body-text: 20px;
    --dp-subtitle: 22px;
    --dp-title: 34px;
    --dp-header: 42px;
}

*, *::before, *::after {
    box-sizing: border-box;
} 

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Display movil */
body {
    display: grid;
    grid-template-rows: 10% 90%;
}

.side {
    background-color: #C06010;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 10px;
}

.side__group {
    display: flex;
    gap: 10px;
}

.icon{
    color: #5f4;
    max-width: 25px;
    max-height: 25px;
}

.main {
    display: grid;
}

.title {
    color: #fff;
    position: relative;
    animation: left-rigth 1.5s;
}

.text {
    position: relative;
    animation: rigth-left 1.5s;
}

@keyframes rigth-left {
    0% {right: -500px; }
  100%   {right: 0px;}
}

/* @keyframes identifier {
    0% {
        color: #FFA62B;
    } 
    20% {
        color: #EDE7E3;
    }
    40% {
        color: #82C0CC ;
    }
    60% {
        color: #489FB5;
    }
    80% {
        color: #16697A;
    }
    
    100% {
        color: #166975;
    }
} */

@keyframes left-rigth {
    0% {left: -500px; }
  100%   {left: 0px;}
}

.main__a {
    background: #536162 url(../assets/imgs/me.jpg) no-repeat right top fixed;
    font-size: var(--mv-body-text);
    height: 300px;
    padding: 10px;
    position: relative;
}

.main__a--2 {
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.main__b {
    background-color: #536162;
    font-size: var(--mv-body-text);
    padding: 10px;
}

.side__hamburger {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.side__hamburger .side__hamburger--line {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #000;
    margin-block: 10px;
    border-radius: 3px;
    transition: transform .5s, opacity .25s;
}

.services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.side__hamburger.active .side__hamburger--line:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
}

.side__hamburger.active .side__hamburger--line:nth-child(2) {
    opacity: 0;
}

.side__hamburger.active .side__hamburger--line:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
}

/* Cellphone older and Tablets younger */
@media only screen and (min-width: 481px ) {

    .main {
        grid-template-columns: 20% 80%;
    }
}

/* Tablets older, Laptops and Desktops */
@media only screen and (min-width: 770px){
    body {
        grid-template-rows: initial;
        grid-template-columns: 7% 93%;
    }

    .side {
        flex-direction: row;
        align-content: space-between;
        /* justify-content: center; */
        /* flex-direction: row;
        grid-template-rows: 1fr 80% 1fr; */
    }
    
    .side > .side__group {
        flex-direction: column;
    }
    
    .main {
        grid-template-columns: 20% 80%;
    }

    .main > .main__a {
    }
    
    .main > .main__b {
    }
}
